body {
	background: #000;
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
}
strong {
	font-weight: 600;
}
/*iphone scroll fix*/
body.modal-open {
	overflow: hidden;
}
/*header links*/

.top-links {
	padding: 10px;
	background: #D52B1E;
}
.topnav a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 0px 16px;
	color: #FFF;
}

.topnav .icon {
	display: none;
}

.topnav a:not(:first-child) {
    text-align: center;
}
.logo {
	width: 90px;
}
.samsung-logo-wrapper {
	position: relative;
	top:54px;
	display: block;
}
.samsung-logo {
	width: 9%;
	padding: 16px;
}
.detalles-tecnicos {
	text-transform: uppercase;
}
.detalles-tecnicos .gears_specs {
	width: 13%;
	/*padding-top: 10px;*/
}
.detalles-tecnicos img, .detalles-tecnicos span {
	display: inline-block;
	vertical-align: middle;
}
.detalles-tecnicos span {
	padding-top: 15px;
	font-size:11px;
}
.detalles-tecnicos:hover, .detalles-tecnicos:focus {
	color: #d6d6d6;
	text-decoration: none;
	
}
/*body content*/
.body-content {
	max-width: 1280px;
	margin: 0 auto;
}

.lead-text {
	padding: 50px 0 30px;
}
.lead-text h1 {
	font-size: 24px;
	line-height: 26px;
	padding-bottom: 15px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
}
.lead-text span {
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	display: block;
}

/*regform*/
.form-wrapper {
	max-width: 1024px;
}
label {
	color: #999;
}
.error {
	color: #FF2000;
	padding-bottom: 15px;
}
input {
	color: #000;
}
input[type=text], label {
	width: 100%;
}
input[type=text], select, select option {
	border: 1px solid #333333;
	border-radius: 8px;
	background-color: #1a1a1a;
	padding: 10px;
	color: #999;
	margin: 10px 0;
}

input[type="submit"] {
	border: 2px #2fb9f1 solid;
	border-radius: 8px;
	background: transparent;
	color: #FFF;
	padding: 10px 40px;
}

input[type="submit"]:hover {
	background-color: #2fb9f1;
	color: #000;
}
.legal-disclaimer, .registrarme-wrapper {
	text-align: center;
	padding: 30px 0;
}
/*recaptcha*/
.g-recaptcha > div {
	margin: 0 auto;
}
/*gallery*/
#gallery-section {
	/*display:none;*/
	padding: 25px 0;
}
.item img {
	margin: 0 auto;
}
.carousel-indicators {
    bottom: -30px;
}
/*specs modal*/
.modal-body .specs-detalle h3 {
	padding: 10px 0;
	font-weight: 600;
}

/*thank you page*/
.back-link {
	text-align: center;
}

/*Media Queries*/
@media only screen and (max-width: 1920px){
	/*modal*/
	.modal-dialog {
		width: 1024px;
	}
}
@media only screen and (max-width: 1280px) {
	/*samsung logo*/
	.samsung-logo {
		width: 10%;
		padding: 20px 0px 10px;
		margin-left: 1%;
	}
}
@media only screen and (max-width: 992px) {
	/*header links*/
	.logo {
		width: 80px;
		padding: 4px;
	}
	/*samsung logo*/
	.samsung-logo {
		width: 117px;
		padding: 10px 0px 10px;
		margin-left: 2%;
	}
	/*body content*/
	.lead-text h1 {
		font-size: 30px;
		line-height: 34px;
	}

	/*modal*/
	.modal-dialog {
		width: 768px;
	}

}
@media only screen and (max-width: 938px){
	/*responsive top nav*/
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
		color: #FFF;
		font-size: 26px;
	}
	
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
		border-bottom: none;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
		border-bottom: 1px solid #fff;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.topnav.responsive a:nth-child(4) {
		border-bottom: none;
	}
	.detalles-tecnicos .gears_specs {
		width: 4%;
	}
}

