@charset "utf-8";
/* CSS Document */

body {margin: 0px; padding: 0px; font: normal 12px Arial, Helvetica, sans-serif; color: #333;


}
table{border:none !important;}
a {color: #E4FC33; text-decoration: none; cursor: pointer;}
a:hover {color: #E4FC33; text-decoration: underline;}
form {margin: 0px;}
img {border: 0px;}
.clr {clear: both;}


#HeaderMain {display: block; background: url(../images/bgheader.gif) bottom left repeat-x; height: 126px; background-color:#006598;}
.FloatLeft {display: block; float: left;}
#HeaderMain .FloatLeft ul {margin: 0px; padding: 0 0 0 15px;}
#HeaderMain .FloatLeft ul li {margin:90px 3px 0 0; padding: 0px; list-style: none; display: inline; float: left; font-weight: bold;}
#HeaderMain .FloatLeft ul li a {background: url(../images/nav-off.gif) top left repeat-x; height: 22px; padding: 8px 15px 0 15px; text-decoration: none; color: #333; display: block; float: left; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
#HeaderMain .FloatLeft ul li a:hover {background: url(../images/nav-on.gif) top left repeat-x; height: 22px; padding: 8px 15px 0 15px; text-decoration: none; color: #333; display: block; float: left; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
#HeaderMain .FloatLeft ul li.Select a {background: url(../images/nav-on.gif) top left repeat-x !important; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
.FloatRight {display: block; text-align: right; padding: 0px 7px 0 0;}

#OuterBody {margin: 0px;}
#OuterBody #LeftPanel {width: 180px; float: left; background-color: #f8f8f8; border-right: 1px solid #ccc; margin: 0 15px 0 0;}
#OuterBody #LeftPanel ul {margin: 0px; padding: 15px 0 0 0;}
#OuterBody #LeftPanel ul li {list-style: none; display: block; font-weight: bold; border-bottom: 1px solid #ccc;}
#OuterBody #LeftPanel ul li h1 {margin: 0; padding: 5px 15px;}
#OuterBody #LeftPanel ul li a {color: #09c; text-decoration: none; padding: 6px 25px; display: block; background: url(../images/arrow.png) left no-repeat; background-position: 15px 12px; border-bottom: 1px solid #fff;}
#OuterBody #LeftPanel ul li a:hover {color: #000; text-decoration: none; padding: 6px 25px; display: block; background: #fff url(../images/arrow-mo.png) left no-repeat; background-position: 15px 12px;}
#OuterBody #LeftPanel ul li.Active a {color: #000; text-decoration: none; padding: 6px 25px; display: block; background: #fff url(../images/arrow-mo.png) left no-repeat; background-position: 15px 12px;}
#OuterBody #LeftPanel ul li.AddMore a {background: #fff url(../images/add.gif) left no-repeat !important; background-position: 95px 5px !important; padding: 4px 5px 4px 115px !important; cursor: pointer;}
#OuterBody #LeftPanel ul li.AddMore a:hover {background: #fff url(../images/add-mo.gif) left no-repeat !important; background-position: 95px 5px !important; padding: 4px 5px 4px 115px !important; cursor: pointer;}
.LastActive a {border: 0px !important;}
#OuterBody #RightPanel {padding: 10px 0;}
#OuterBody table {border: 1px solid #ccc; -moz-border-radius:5px;}
#OuterBody td {padding: 3px 5px;}

.show{display:block; width:1150px;}
.hide{display:none;}


#OuterBody {margin: 0px;}
#OuterBody #LeftPanel {width: 200px; float: left; background-color: #f8f8f8; border-right: 1px solid #ccc; margin: 0 15px 0 0;}
#OuterBody #LeftPanel ul {margin: 0px; padding: 15px 0 0 0;}
#OuterBody #LeftPanel ul li {list-style: none; display: block; font-weight: bold; border-bottom: 1px solid #ccc;}
#OuterBody #LeftPanel ul li h1 {margin: 0; padding: 5px 15px;}
#OuterBody #LeftPanel ul li a {color: #09c; text-decoration: none; padding: 6px 25px; display: block; background: url(../images/arrow.png) left no-repeat; background-position: 15px 12px; border-bottom: 1px solid #fff;}
#OuterBody #LeftPanel ul li a:hover {color: #000; text-decoration: none; padding: 6px 25px; display: block; background: #fff url(../images/arrow-mo.png) left no-repeat; background-position: 15px 12px;}
#OuterBody #LeftPanel ul li.Active a {color: #000; text-decoration: none; padding: 6px 25px; display: block; background: #fff url(../images/arrow-mo.png) left no-repeat; background-position: 15px 12px;}
#OuterBody #LeftPanel ul li.AddMore a {background: #fff url(../images/add.gif) left no-repeat !important; background-position: 95px 5px !important; padding: 4px 5px 4px 115px !important; cursor: pointer;}
#OuterBody #LeftPanel ul li.AddMore a:hover {background: #fff url(../images/add-mo.gif) left no-repeat !important; background-position: 95px 5px !important; padding: 4px 5px 4px 115px !important; cursor: pointer;}
.LastActive a {border: 0px !important;}
#OuterBody #RightPanel {padding: 10px 0;}
#OuterBody table {border: 1px solid #ccc; -moz-border-radius:5px;}
#OuterBody td {padding: 3px 5px;}
th {padding: 7px 5px; color: #333; background: #f4f4f4 url(../images/shadow-header.png) bottom left repeat-x; font-size:16px;}
.Odd {background-color: #f4f4f4;}
.Even {background-color: #f9f9f9;}
.Even input[type=text], .Even input[type=password], .Even input[type=file] {border: 1px solid #ccc; padding: 3px; background: #f4f4f4 url(../images/shadow-input.png) top left repeat-x; width: 300px; margin:3px 4px;}