@charset "UTF-8";
/*! CSS ULATINA - CENTRO DE IDIOMAS */

/* RESET ESTILOS */
*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}
body,html{font-family:Arial, Helvetica, sans-serif;}

b, .negrita{ font-weight:bold;}
.hidden-text{ text-indent:-999999px; display:block; font-size:0px; line-height:1px;}
.clear{ clear:both; overflow:hidden;}


body{ background:#FFF); background-size:cover;}
#header{}
#header h1{ background:url(../img/titulo1.png) no-repeat; width:953px; height:25px; margin:50px auto 0 auto;}
#header h2{ background:url(../img/titulo2.png) no-repeat; width:265px; height:55px; margin:30px auto 0 auto;}
#header h3{ background:url(../img/titulo3.png) no-repeat; width:645px; height:98px; margin:40px auto 0 auto;}
#header h4{ background:url(../img/titulo4.png) no-repeat; width:645px; height:51px; margin:30px auto 0 auto;}


#content{ background:url(../img/mundo_cara.png) no-repeat; width:1187px; min-height:672px; margin:55px auto 0 auto;}

#content_blanco{ width:600px; margin:0 auto; padding:30px 20px 66px 20px; background:#FFF; position:relative; left:32px; overflow:hidden;}
#content_blanco_datos{ width:75%; margin:5px auto; padding:10px; background:#FFF;overflow:hidden; min-height:700px;text-align: left;}
.redes_sociales{ background:url(../img/redes_sociales.png) no-repeat; width:234px; height:37px; overflow:hidden; float:left; margin-top:20px;}
.redes_sociales a{ display:block; text-decoration:none;}
.redes_sociales a.facebook{ margin:0; width:230px; height:16px; clear:both;}
.redes_sociales a.youtube{ margin:5px 0 0 10px; width:103px; height:16px; float:left;}
#logo{ background:url(../img/logo_latina.png); width:334px; height:68px; float:right;}

#content_blanco .left{ width:270px; padding-left:30px; overflow:hidden; margin-top:30px; font-size:11px; float:left;}
#content_blanco .left p.text{ color:#000; font-size:12px; line-height:18px;}
#content_blanco .left h3{ background:url(../img/matricula_abierta.png) no-repeat; width:141px; height:44px; clear:both; margin-top:15px;}
#content_blanco .left h4{ color:#000; font-weight:bold; display:block; margin-top:20px; }
#content_blanco .left p{ color:#696969; display:block; margin-top:5px; }
#content_blanco .left p a{ color:#ee0636; font-weight:bold; display:block; text-decoration:none;}

#content_blanco .right{ width:300px; overflow:hidden; margin-top:30px; float:left;font-size:12px;}
#content_blanco .right p{ font-size:12px; font-weight:bold; padding:5px 0;}
#content_blanco .right input[type="text"],#content_blanco .right select, #content_blanco .right textarea{ background:#d5d5d5; width:270px;}
#content_blanco .right input[type="text"],#content_blanco .right select{ height: 25px;}
#content_blanco .right textarea{ height:85px; resize:none;}
#content_blanco .right #antispam{ display:none;}
#content_blanco .right input[type="submit"]{ background:url(../img/btn_verde.png) no-repeat; border:none; color:#FFF; width:156px; height:40px; display:block; margin:10px auto; font-size:14px; font-weight:bold;cursor:pointer;}
#content_blanco .right input[type="checkbox"]{ display:block; float:left; margin:5px 10px 0 0;}
#content_blanco .right .terminos{ color:#178f4a; font-weight:normal;}
#content_blanco .right span{ display:block; clear:both; font-size:9px; margin-left:100px;}

#content_blanco #login{ width:300px; overflow:hidden; font-size:12px; margin:80px auto;}
#content_blanco #login h3{ text-align:center; font-size:18px; font-weight:bold;}
#content_blanco #login p{ font-size:12px; font-weight:bold; padding:5px 0;}
#content_blanco #login input[type="text"],#content_blanco #login input[type="password"]{ background:#d5d5d5; width:270px; height:25px;}
#content_blanco #login input[type="submit"]{ background:url(../img/btn_verde.png) no-repeat; border:none; color:#FFF; width:156px; height:40px; display:block; margin:10px auto; font-size:14px; font-weight:bold;cursor:pointer;}


#content_blanco_datos h1{ display:block; width:auto; color:#FFF; padding:10px 0; text-transform:uppercase; font-weight:bold; font-size:20px;}
#content_blanco_datos .links{ display:block; clear:both; overflow:hidden; margin-top:30px; color:#FFF;background:url(../images/bgheader.gif)bottom left repeat-x;background-color:#006598;}
#content_blanco_datos .links a{ color:#FFF; text-decoration:none; font-size:12px; background:url(../images/download.png) no-repeat; display:block; float:left; padding:3px 0 3px 18px; margin: 11px 20px 20px 12px;}
#content_blanco_datos table{ width:100%; clear:both; word-break: break-word;}
#content_blanco_datos table th{ padding:5px; background:#355E75; font-size:12px; color:#FFF;}
#content_blanco_datos table th strong{ font-weight:bold; font-size:16px;}
#content_blanco_datos table td{ padding:5px; font-size:12px; color:#FFF;}
#content_blanco_datos table tr:nth-child(odd) {background: #818583}
#content_blanco_datos table tr:nth-child(even) {background: #818583}
#content_blanco_datos #tabla_datos_length{ color:#FFF; float:left; width:50%; height:35px; background:#355E75; font-size:12px; padding-top:5px;}
#content_blanco_datos #tabla_datos_length label{ display:block; margin-left:10px; margin-top:3px;}
#content_blanco_datos #tabla_datos_filter{ color:#FFF; float:right; width:50%; height:35px; background:#355E75; font-size:12px; padding-top:5px; text-align:right;}
#content_blanco_datos #tabla_datos_filter label{ display:block; margin-right:10px;}
#content_blanco_datos #tabla_datos_filter input[type="text"]{ border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
background: #f9f9f9;background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e5e5e5));background: -webkit-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%);background: -o-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%);background: -ms-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%);background: linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 );
margin-top:5px; color:#8d8d8d; font-weight:bold; border:1px solid #bfbfbf; height:20px; width:200px }
#content_blanco_datos #tabla_datos_info{ color:#FFF; float:left; width:50%; height:22px; background:#355E75; font-size:12px; padding-top:5px;}
#content_blanco_datos #tabla_datos_paginate{ color:#FFF; float:left; width:50%; height:22px; background:#355E75; font-size:12px; padding-top:5px; text-align:right; overflow:hidden;}
#content_blanco_datos #tabla_datos_paginate a{ display:block; float:left; padding:0 10px;}
#content_blanco_datos #tabla_datos_paginate a:first-child{ margin-left:188px;}


#overlay{ background:url(../img/overlay_blk.png) repeat; width:100%; height:100%; position:fixed; top:0; z-index:999; cursor:pointer; display:none;}
#modal{ background:#FFF;position:fixed; z-index:9999; margin:120px auto 0 auto; width:545px;border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; padding:40px 25px 25px 40px; display:none; overflow:hidden;}
#modal .logo_cambridge{ background:url(../img/cambridge.png) no-repeat; background-size:200px; width:200px; height:110px; float:left;}
#modal .logo_idiomas{ background: url(../img/centro_idiomas.png) no-repeat;width:245px; height:110px; float:right;}
#modal h2{ background:url(../img/gracias.png) no-repeat; display:block; width:auto; height:77px; color:#FFF; padding-bottom:10px; clear:both;}
#modal p.texto{width:auto; padding:20px 0 90px 0;display:block;font-size:12px; color:#000; font-weight:bold;}
#modal .close{ color:#000; font-size:12px; text-decoration:none; float:right; clear:both;}
#modal .close span{ text-decoration:underline;}
.btn {
    border-radius: 3px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
  float: right;
    margin-right: 150px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
/*Media Queries*/
@media only screen  and (max-width : 1023px) {
	#content_blanco_datos #tabla_datos_paginate a:first-child {
		margin-left: 162px;
	}
	#content_blanco_datos table th:last-child {
    width: 65px!important;
}
}
