/* Author: Suresh Copyright: SignitySolutions 2010 */
/* Common Classes */
body {margin: 0px; padding: 0px; font: normal 12px Arial, Helvetica, sans-serif; color: #333;}
a {color: #09c; text-decoration: none; cursor: pointer;}
a:hover {color: #09c; text-decoration: underline;}
form {margin: 0px;}
img {border: 0px;}
.clr {clear: both;}

#HeaderMain {display: block; background: url(../images/bgheader.gif) bottom left repeat-x; height: 86px; background-color:#006598;}
.FloatLeft {display: block; float: left;}
#HeaderMain .FloatLeft ul {margin: 0px; padding: 0 0 0 15px;}
#HeaderMain .FloatLeft ul li {margin: 50px 3px 0 0; padding: 0px; list-style: none; display: inline; float: left; font-weight: bold;}
#HeaderMain .FloatLeft ul li a {background: url(../images/nav-off.gif) top left repeat-x; height: 22px; padding: 8px 15px 0 15px; text-decoration: none; color: #333; display: block; float: left; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
#HeaderMain .FloatLeft ul li a:hover {background: url(../images/nav-on.gif) top left repeat-x; height: 22px; padding: 8px 15px 0 15px; text-decoration: none; color: #333; display: block; float: left; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
#HeaderMain .FloatLeft ul li.Select a {background: url(../images/nav-on.gif) top left repeat-x !important; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0;}
.FloatRight {display: block; text-align: right; padding: 0px 7px 0 0;}

#OuterBody {margin: 0px;}
 #LeftPanel {width: 200px; float: left; background-color: #f8f8f8; border-right: 1px solid #ccc; margin: 0 15px 0 0;}
 #LeftPanel ul {margin: 0px; padding: 15px 0 0 0;}
 #LeftPanel ul li {list-style: none; display: block; font-weight: bold; border-bottom: 1px solid #ccc;}
 #LeftPanel ul li h1 {margin: 0; padding: 5px 15px;}
 #LeftPanel ul li a {color: #09c; text-decoration: none; padding: 6px 25px; display: block; background: url(../images/arrow.png) left no-repeat; background-position: 15px 12px; border-bottom: 1px solid #fff;}
 #LeftPanel ul li a:hover {color: #000; text-decoration: none; padding: 6px 25px; display: block; background: #fff url(../images/arrow-mo.png) left no-repeat; background-position: 15px 12px;}
 #LeftPanel ul li.Active a {color: #000; text-decoration: none; padding: 6px 25px; display: block; background: #fff url(../images/arrow-mo.png) left no-repeat; background-position: 15px 12px;}
 #LeftPanel ul li.AddMore a {background: #fff url(../images/add.gif) left no-repeat !important; background-position: 95px 5px !important; padding: 4px 5px 4px 115px !important; cursor: pointer;}
 #LeftPanel ul li.AddMore a:hover {background: #fff url(../images/add-mo.gif) left no-repeat !important; background-position: 95px 5px !important; padding: 4px 5px 4px 115px !important; cursor: pointer;}
.LastActive a {border: 0px !important;}
 #RightPanel {padding: 0px 0; vertical-align:top; margin:0;}
 table {border: 0px solid #ccc; -moz-border-radius:5px;}
td {padding: 3px 10px;}
th {padding: 7px 5px; color: #333; background: #f4f4f4 url(../images/shadow-header.png) bottom left repeat-x; font-size:16px;}
.Odd {background-color: #f4f4f4;}
.Even {background-color: #f9f9f9;}
.Even input[type=text], .Even input[type=password], .Even input[type=file],.Even input[type=textarea] {border: 1px solid #ccc; padding: 3px; background: #f4f4f4 url(../images/shadow-input.png) top left repeat-x; width: 300px; margin:3px 4px;}
.Required input[type=text], .Required input[type=password], .Required input[type=file] {border-right: 2px solid red !important;}
.Error {color: red; font-size: 11px;}
.SelectOption {border: 1px solid #ccc; padding: 3px; background: #f4f4f4 url(../images/shadow-input.png) top left repeat-x;}
h1 {font-size: 16px; margin: 10px 0 0px 0; border-bottom: 1px dashed #999; padding: 0 0 5px 0;}
.MlsNo {font-weight: bold;}
.ImgPadding {margin: 0 10px 5px 0;}
.ListName {color: #369; font-weight: bold;}
.JustListed {color: #f90; display: block; padding: 0px 0 8px 0;}
.pagination {padding: 10px 0 29px 0px; float: right; text-align: right; font-weight: bold;}
.pagination a {text-decoration: underline; padding: 2px; margin: 0 5px 0 0;}
.pagination a:hover {text-decoration: none; padding: 2px;}
.Addbtn a {float: right; background: url(../images/add.gif) top left no-repeat; background-position: 0px 10px; display: block; padding: 10px 0 0 20px; font-weight: bold; margin: 0 20px 0 0;}
.Addbtn a:hover {float: right; background: url(../images/add.gif) top left no-repeat; background-position: 0px 10px; display: block; padding: 10px 0 0 20px; font-weight: bold;}

.viewbtn a {float: right; background: url(../images/view.png) top left no-repeat; background-position: 0px 10px; display: block; padding: 10px 0 0 20px; font-weight: bold; margin: 0 20px 0 0px;}
.viewbtn a:hover {float: right; background: url(../images/view1.png) top left no-repeat; background-position: 0px 10px; display: block; padding: 10px 0 0 20px; font-weight: bold;}

.downbtn a {float: right; background: url(../images/download.png) top left no-repeat; background-position: 0px 10px; display: block; padding: 10px 0 0 20px; font-weight: bold; margin: 0 20px 0 0;}
.downbtn a:hover {float: right; background: url(../images/download1.png) top left no-repeat; background-position: 0px 10px; display: block; padding: 10px 0 0 20px; font-weight: bold;}

.BodyPadding {padding: 15px;}
.PreviewBox {padding: 5px 15px !important;}
.ShareLink {padding: 10px 0 0 0;}

#FooterMain {position: fixed; left: 0px; bottom: 0px; padding: 5px 0; text-align: center; width: 100%; background: #ccc;}
/* For ie 6*/
* html #FooterMain{ position:absolute;
top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');}
.textarea{background:url("../images/shadow-input.png") repeat-x scroll left top #F4F4F4; border:1px solid #CCCCCC; padding:3px; width: 300px; margin:3px 4px}
.show{display:block; width:1052px;}
.hide{display:none;}
:focus {-moz-outline-style: none;}

.centertable{margin:0px auto; text-align:center;}
